IF NOT EXISTS( SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Songs' AND  COLUMN_NAME = 'Comment')
ALTER TABLE Songs ADD [Comment] [nvarchar](250);

IF NOT EXISTS( SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Songs' AND  COLUMN_NAME = 'WebsiteUser')
ALTER TABLE Songs ADD [WebsiteUser] [nvarchar](250);

IF NOT EXISTS( SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Songs' AND  COLUMN_NAME = 'WebsiteArtist')
ALTER TABLE Songs ADD [WebsiteArtist] [nvarchar](250);	

GO


